body {
  font-family: "Roboto", Raleway;
  background: #fff;
}

/* header */

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.menu-web {
  color: #4d5ae5;
}

.nav-menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

address {
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
}

/* main */
.dark-bg {
  background: #2e2f42;
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
}

.main-button {
  cursor: pointer;
  background: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

/* advantages */
.advantages {
}

.advantages-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.advantages-main {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* team */
.team {
  background: #f4f4fd;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.team-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* portfolio */
.portfolio {
  background-color: #fff;
}
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.portfolio-class {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* footer */

.footer {
  background: #2e2f42;
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
